<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../../partials/head'); %>
</head>

<body>
    <%- include('../../partials/header'); %>

        <div class="page-content">
            <div class="row">
                <%- include('../../partials/sidebar'); %>
                    <div class="col-md-10">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <%= title %>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th>Service Type</th>
                                                <th>Date and Time</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(inquiries.length === 0) { %>
                                                <tr>
                                                    <td colspan="7">
                                                        No record found
                                                    </td>
                                                </tr>
                                            <% } %>
                                            <% for(let i=0; i < inquiries.length; i++) { %>
                                                    <tr> 
                                                        <td> <%= (i+1) %> </td>
                                                        <td>
                                                            <%= inquiries[i].name %>
                                                        </td>
                                                        <td>
                                                            <%= inquiries[i].email %>
                                                        </td>
                                                        <td>
                                                            <%= inquiries[i].contact_number %>
                                                        </td>
                                                        <td>
                                                            <%= inquiries[i].service %>
                                                        </td>
                                                        <td>
                                                            <%= inquiries[i].date + ' ' + inquiries[i].time %>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success btn-sm" href="/admin/inquiries/reply/<%= inquiries[i]._id %>">
                                                                <span class="glyphicon glyphicon-edit"></span>
                                                            </a>
                                                            <form action="/admin/inquiries/delete" method="POST" style="display: inline-block">
                                                                <input type="hidden" value="<%= inquiries[i]._id %>" />
                                                                <button class="btn btn-danger btn-sm" type="submit">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            </form>
                                                            
                                                        </td>
                                                    </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <%- include('../../partials/footer'); %>
</body>
<script>


</script>


<%- include('../../partials/foot'); %>

</html>