<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../../partials/head'); %>
</head>

<body>
    <%- include('../../partials/header'); %>

        <div class="page-content">
            <div class="row">
                <%- include('../../partials/sidebar'); %>
                <div class="col-md-10">
                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title"><%= title %></div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="content-box-large">
                                    <div class="panel-heading">
                                      <div class="panel-title">Blog From</div>
                                    
                                      <!-- <div class="panel-options">
                                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                                      </div> -->
                                  </div>
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form" method="post" action="/admin/blogs/create">
                                        <div class="form-group">
                                          <label for="inputEmail3" class="col-sm-2 control-label">Image</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="image" name="image" placeholder="Name">
                                          </div>
                                        </div>
                    
                                        <div class="form-group">
                                          <label class="col-sm-2 control-label">Content</label>
                                          <div class="col-sm-10">
                                            <textarea class="form-control" placeholder="Content" name="feedback" rows="3"></textarea>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Create</button>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer'); %>
</body>

<%- include('../../partials/foot'); %>

</html>